# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
src/ingreso-ui/dist
src/ingreso-ui/tmp
src/ingreso-ui/out-tsc

# dependencies
src/ingreso-ui/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
src/.sass-cache
src/connect.lock
src/coverage
src/libpeerconnection.log
src/npm-debug.log
src/yarn-error.log
src/testem.log
src/typings

# System Files
src/.DS_Store
src/Thumbs.db
