<mat-progress-bar mode="indeterminate" *ngIf="procesando"></mat-progress-bar>

<div class="registro" *ngIf="!procesando">

    <div class="conenedorInfo">
        <p class="textCuentaDeUsuario">CUENTA DE USUARIO FCE<p>
        <P class="textFormulario">Creación de cuenta de usuario para los servicios informáticos de la Facultad de Ciencias Económicas.</P>
        <div class="pasos">
            <div><i class="material-icons textoPasosDesabilitado">looks_one</i> </div>
            <div><p class="textoPasosDesabilitado">Registración</p></div>
        </div>
        <div class="pasos">
            <div><i class="material-icons textoPasosDesabilitado">looks_two</i> </div>
            <div><p class="textoPasosDesabilitado">Confirmación de cuenta</p></div>
        </div>
        <div class="pasos">
            <div><i class="material-icons textoPasosHAbilitado">looks_3</i> </div>
            <div><p class="textoPasosHAbilitado">Finalizar</p></div>
        </div>

    </div>

    <div class="contenedorFormulario">
        <h1>Cuenta creada con éxito</h1>
        <mat-progress-bar mode="determinate" value="{{n}}"></mat-progress-bar>

        <p class="mensajePrincipal"><b>Todo listo!</b>, ya tienes tu cuenta de usuario de la Facultad de Ciencias Económicas - UNLP.</p>
        <p class="mensajeSecundario">Utiliza tu número de DNI como nombre de usuario y la contraseña que recién configuraste para acceder los servicios informáticos <br> de la facultad.  </p>


        <div class="itemSistema">
          <div><i class="material-icons iconosSistemas">person_outline</i></div>
          <div><p>Sistema de Usuarios</p></div>
          <a mat-button class="btnAcceder" href="https://www.usuarios.econo.unlp.edu.ar" target="_blank">Acceder</a>
        </div>
        <p class="textDetalleSistema"> Edición de datos personales, preferencias de la cuenta, contraseñas, correos, etc.</p>
        <mat-divider></mat-divider>

        <div class="itemSistema">
          <div><i class="material-icons iconosSistemas">devices</i></div>
          <div><p>AU24</p></div>
          <a mat-button class="btnAcceder" href="https://www.au24.econo.unlp.edu.ar/pluginfile.php/116269/mod_resource/content/1/aviso%20inscripci%C3%B3n.pdf" target="_blank">Acceder</a>
        </div>
        <p class="textDetalleSistema"> Aula Virtual de la facultad</p>
        <mat-divider></mat-divider>

        <div class="itemSistema">
          <div><i class="material-icons iconosSistemas">wifi</i></div>
          <div><p>Wifi Free</p></div>
        </div>
        <p class="textDetalleSistema"> Accede a la red Wifi "FCE Alumnos" con tu cuenta de usuario.</p>
        <mat-divider></mat-divider>

    </div>
</div>
