<div class="contenido">

    <mat-card>

        <div class="cabeceraContenido">
          <div><i class=" icono material-icons">sentiment_dissatisfied</i></div>
          <h2 class="textError">Ups! no podemos continuar</h2>
          <h1>La cuenta ya se encuentra registrada</h1>
        </div>


        <p class="mensaje">El DNI <b>"30001823"</b> ya tiene una cuenta de usuario registrada,
            si no recuerdas tu contraseña puedes restablecerla haciendo
            <a class="link" href="https://login.econo.unlp.edu.ar/recuperar_clave/ingresar_dni" target="_blank">clic aquí.</a>
        </p>
        <p class="mensaje">Si crees que esto es un error comunícate con DeTISE para resolver este problema.</p>

        <p class="mensajeContacto">
          <i class="material-icons icoContacto">mail_outline</i> detise@econo.unlp.edu.ar <br>
          <i class="material-icons icoContacto">phone</i> +54 (0221) 4236769/71/72 int. 105 <br>
          <i class="material-icons icoContacto">location_on</i>Entrepiso | Facultad de Ciencias Económicas | UNNLP | Calle 6 #777
        </p>

        <div class="contenedorBoton">
          <a mat-button class="btnVolver" routerLink='inicio'>VOLVER</a>
        </div>

    </mat-card>


</div>
