<mat-progress-bar mode="indeterminate" *ngIf="procesando"></mat-progress-bar>


<div class="registro" *ngIf="!procesando">

    <div class="conenedorInfo">

        <p class="textCuentaDeUsuario">CUENTA DE USUARIO FCE<p>
        <P class="textFormulario">Creación de cuenta de usuario para los servicios informáticos de la Facultad de Ciencias Económicas.</P>
        <div class="pasos">
            <div><i class="material-icons textoPasosDesabilitado">looks_one</i> </div>
            <div><p class="textoPasosDesabilitado">Registración</p></div>
        </div>
        <div class="pasos">
            <div><i class="material-icons textoPasosHAbilitado">looks_two</i> </div>
            <div><p class="textoPasosHAbilitado">Confirmación de cuenta</p></div>
        </div>
        <div class="pasos">
            <div><i class="material-icons textoPasosDesabilitado">looks_3</i> </div>
            <div><p class="textoPasosDesabilitado">Finalizar</p></div>
        </div>

    </div>

    <div class="contenedorFormulario">

        <h1>Confirmar Cuenta</h1>
        <mat-progress-bar mode="determinate" value="{{n}}"></mat-progress-bar>
        <p class="mensajePrincipal">Te hemos enviado un código de confirmación a <b>{{ correo }}</b>, copia y pega el código para activar tu cuenta.</p>
        <p class="mensajeSecundario">Recordá revisar la bandeja de ”correo no deseado” (spam) . Es probable que el correo electrónico que te enviamos se encuentra allí. Por favor marcalo como “es correo deseado”</p>

        <form class="formulario" [formGroup]='form' (ngSubmit)='aceptar()'>
            <mat-form-field class="itemFormulario">
              <input matInput placeholder="Código de Confirmación" formControlName="codigo">              
            </mat-form-field>  
            
            <mat-error *ngIf="error_codigo">Código de confirmación incorrecto</mat-error>
            <!-- <mat-error *ngIf="form.hasError('codigo')">Código de confirmación incorrecto</mat-error> -->
            <button mat-button class="btnSistema" type="submit" [disabled]='form.invalid'>CONTINUAR</button>

        </form>

    </div>
</div>
