<mat-progress-bar mode="indeterminate" *ngIf="procesando"></mat-progress-bar>


<div class="registro" *ngIf="!procesando">

    <div class="conenedorInfo">

      <p class="textCuentaDeUsuario">CUENTA DE USUARIO FCE<p>
      <P class="textFormulario">Creación de cuenta de usuario para los servicios informáticos de la Facultad de Ciencias Económicas.</P>
      <div class="pasos">
          <div><i class="material-icons textoPasosHAbilitado">looks_one</i> </div>
          <div><p class="textoPasosHAbilitado">Registración</p></div>
      </div>
      <div class="pasos">
          <div><i class="material-icons textoPasosDesabilitado">looks_two</i> </div>
          <div><p class="textoPasosDesabilitado">Confirmación de cuenta</p></div>
      </div>
      <div class="pasos">
          <div><i class="material-icons textoPasosDesabilitado">looks_3</i> </div>
          <div><p class="textoPasosDesabilitado">Finalizar</p></div>
      </div>

    </div>

    <div class="contenedorFormulario">

        <h1>Crear Cuenta</h1>
        <mat-progress-bar mode="determinate" value="{{n}}"></mat-progress-bar>


        <form class="formulario" [formGroup]='form' (ngSubmit)='aceptar()'>
            <mat-form-field class="itemFormulario">
              <input matInput placeholder="Nombre" name="nombre" formControlName='nombre'>
            </mat-form-field>
            <mat-form-field class="itemFormulario">
              <input matInput placeholder="Apellido" name="apellido" formControlName='apellido'>
            </mat-form-field>
            <mat-form-field class="itemFormulario">
              <input matInput placeholder="DNI" name="dni" formControlName='dni'>
            </mat-form-field>
            
            <mat-form-field class="itemFormulario">
              <mat-select placeholder="Sexo" formControlName="genero">
                  <mat-option *ngFor="let genero of opciones_sexo" [value]="genero">{{ genero | titlecase }}</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- CORREOS -->

            <mat-form-field class="itemFormulario">
              <mat-icon class="iconos" matPrefix>mail_outline</mat-icon>
              <input matInput placeholder="Ingresá tu correo electrónico" formControlName='correo1' disableCopyPaste>
            </mat-form-field>
            <mat-form-field class="itemFormulario">
              <mat-icon class="iconos" matPrefix>mail_outline</mat-icon>
              <input matInput placeholder="Repetí tu correo electrónico" formControlName='correo2' disableCopyPaste> 
              <mat-error *ngIf="form.hasError('correos')">Los correos no coinciden</mat-error>             

            <!-- CONTRASEÑA -->
                
            </mat-form-field>
           <mat-form-field class="itemFormulario">
              <mat-icon class="iconos" matPrefix>lock_open</mat-icon>
              <input matInput placeholder="Ingresá una contraseña" [type]="hide ? 'password' : 'text'" formControlName='clave1' disableCopyPaste>                            
              <mat-hint> Requisitos: La contraseña debe tener al menos con 8 caracteres  </mat-hint>
              <mat-error *ngIf="form.get('clave1').errors?.minlength">
                    La contraseña debe tener al menos con 8 caracteres
              </mat-error>
              
            </mat-form-field>
            <mat-form-field class="itemFormulario">
              <mat-icon class="iconos" matPrefix>lock_open</mat-icon>
              <input matInput placeholder="Repetí la contraseña" [type]="hide ? 'password' : 'text'" formControlName='clave2' disableCopyPaste>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="form.hasError('claves')">Las contraseñas no coinciden</mat-error>
      
   
            </mat-form-field>
            <!-- <div>
                <mat-error *ngIf="form.hasError('correos')">Los correos no coinciden</mat-error>             
                <mat-error *ngIf="form.hasError('claves')">Las claves no coinciden</mat-error>
            </div>             -->
            <button mat-button class="btnSistema" type="submit" [disabled]="form.invalid">CONTINUAR</button>
  
        </form>
    </div>
</div>
